[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "public"]
	path = public
	url = https://protenhan@github.com/protenhan/protenhan.github.io.git
	branch = master
